<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header navbar-right"">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-collapse"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/search"> New Search <span
						class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</a></li>
				<li><a href="#/search"> Profile <span
						class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</a></li>
				<li><a href="#/trips""> My Trips <span
						class="glyphicon glyphicon-plane" aria-hidden="true"></span>
				</a></li>
				<li ng-if="loginbutton"><a href="#/login">
						Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</a></li>
				<li ng-if="logoutbutton"><a href="#/logout"> Logout <span
						class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="col-md-6 col-md-offset-4" ng-controller="ReviewController">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">Flight# {{ flight.flightNumber }}</div>
				<div class="col-md-3">{{flight.departureTime | convertTime}} -
					{{flight.arrivalTime | convertTime}}</div>
				<div class="col-md-3">
					{{flight.departureDate}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{flight.departureCity}} -
					{{flight.arrivalCity}}</div>
				<div class="col-md-3">Duration: {{ flight.duration }}</div>
				<div class="col-md-3">Total: ${{flight.price}}</div>
			</div>
		</div>
		<div class="panel panel-default" ng-repeat="leg in flight.legs">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">Flight# {{ leg.flightNumber }}</div>
					<div class="col-md-3">{{leg.departureTime | convertTime}} -
						{{leg.arrivalTime | convertTime}}</div>
					<div class="col-md-3">
						{{leg.departureDate}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">{{leg.departureCity}} -
						{{leg.arrivalCity}}</div>
					<div class="col-md-3">Duration: {{ leg.duration }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-if="showReturnDetails">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">Flight# {{ returnFlight.flightNumber }}</div>
				<div class="col-md-3">{{returnFlight.departureTime | convertTime}} -
					{{returnFlight.arrivalTime | convertTime}}</div>
				<div class="col-md-3">
					{{returnFlight.departureDate}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{returnFlight.departureCity}} -
					{{returnFlight.arrivalCity}}</div>
				<div class="col-md-3">Duration: {{ returnFlight.duration }}</div>
				<div class="col-md-3">Total: ${{returnFlight.price}}</div>
			</div>
		</div>
		<div class="panel panel-default" ng-repeat="leg in returnFlight.legs">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">Flight# {{ leg.flightNumber }}</div>
					<div class="col-md-3">{{leg.departureTime | convertTime}} -
						{{leg.arrivalTime | convertTime}}</div>
					<div class="col-md-3">
						{{leg.departureDate}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">{{leg.departureCity}} -
						{{leg.arrivalCity}}</div>
					<div class="col-md-3">Duration: {{ leg.duration }}</div>
				</div>
			</div>
		</div>
	</div>
	</a><a
		href="#/review"><button type="button" class="btn btn-info"
			ng-click="bookFlight(flight,uname)">Continue to Payment</button></a>
</div>