<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-collapse"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/search"> New Search <span
						class="glyphicon glyphicon-search" aria-hidden="true">
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			
				<ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                        <div class="img-rounded profile-img"></div>
                        My Profile <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">User Name</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">E-mail</a>
                        </li>
                    </ul>
                </li>
            </ul>

       <ul class="nav navbar-nav pull-right">

				<li><a href="#/trips""> My Trips <span
						class="glyphicon glyphicon-plane" aria-hidden="true"></span>
				</a></li>
				<li ng-if="loginbutton"><a href="#/login"> Login <span
						class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</a></li>
				<li ng-if="logoutbutton"><a href="#/logout"> Logout <span
						class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				</a></li>
			</ul>
		</div>
		
	</div>
</nav>
<div class="col-md-4 col-md-offset-4">
	<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-3">
		<label class="form-check-label">One-Way <input type="radio" class="form-check-input" name="oneWay" id="oneWay" value="oneWay" ng-model="checked" ng-click="switchSearchForm($event)" checked></label>
	</div>
	<div class="col-xs-6 col-sm-4 col-md-4">
		<label class="form-check-label">Round-Trip <input type="radio" class="form-check-input" name="roundTrip" id="roundTrip" value="roundTrip" ng-model="checked" ng-click="switchSearchForm($event)"></label>
	</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p>Departing</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p>Arriving</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" placeholder="Choose City"
				id="departing-from" ng-model="form.departureCity" auto-complete>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" placeholder="Choose City"
				id="arriving-to" ng-model="form.arrivalCity" auto-complete>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p>Departure Date</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p ng-if="returnDateLabel">Return Date</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" value="" id="departure-date"
				ng-model="form.departureDate" datepicker>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" value="" id="return-date"
				ng-model="form.returnDate" ng-if="returnDate" datepicker>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-4">
			<p>Class</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Adults</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Children</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Max Stops</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Refundable</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-4">
			<select class="form-control" value="Coach" ng-model="form.class">
				<option>Coach</option>
				<option>Premium Coach</option>
				<option>Business</option>
				<option>First</option>
			</select>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<input class="form-control" type="number" value="1" min="0" max="10"
				id="number-adults" ng-model="form.numberAdults">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<input class="form-control" type="number" value="0" min="0" max="10"
				id="number-children" ng-model="form.numberChildren">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<select class="form-control" value="Coach" ng-model="form.stops">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<select class="form-control" value="Coach" ng-model="form.refundable">
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-4 col-md-offset-4">
			<a class="btn btn-info btn-block" ng-click="search()" href="#results">Search</a>
		</div>
	</div>