<div  class="col-md-4 col-md-offset-4">
<form>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3">
			<label class="form-check-label">One-Way <input type="radio"
				class="form-check-input" name="oneWay" id="oneWay" value="oneWay"
				ng-model="checked" ng-click="switchSearchForm($event)" checked></label>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4">
			<label class="form-check-label">Round-Trip <input
				type="radio" class="form-check-input" name="roundTrip"
				id="roundTrip" value="roundTrip" ng-model="checked"
				ng-click="switchSearchForm($event)"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p>Departing</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p>Arriving</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" placeholder="Choose City"
				id="departing-from" ng-model="form.departureCity" auto-complete required>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" placeholder="Choose City"
				id="arriving-to" ng-model="form.arrivalCity" auto-complete required>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p>Departure Date</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<p ng-if="returnDateLabel">Return Date</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" value="" id="departure-date"
				ng-model="form.departureDate" datepicker-dep required>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-6">
			<input class="form-control" type="text" value="" id="return-date"
				ng-model="form.returnDate" ng-if="returnDate" datepicker-ret required>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-4">
			<p>Class</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Adults</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Children</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Max Stops</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<p>Refundable</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-4">
			<select class="form-control" ng-model="form.cabin" required>
				<option>Coach</option>
				<option>Premium Coach</option>
				<option>Business</option>
				<option>First</option>
			</select>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<input class="form-control" type="number" value="1" min="0" max="10"
				id="number-adults" ng-model="form.numberAdults" required>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<input class="form-control" type="number" value="0" min="0" max="10"
				id="number-children" ng-model="form.numberChildren" required>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<select class="form-control" ng-model="form.stops" required>
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<select class="form-control" ng-model="form.refundable" required>
				<option>Yes</option>
				<option>No</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-sm-4 col-md-4 col-md-offset-4">
			<input type="submit" class="btn btn-info btn-block" value="Search" ng-click="search()">
		</div>
	</div>
	</form>
</div>