<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-collapse"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/search"> New Search <span
						class="glyphicon glyphicon-search" aria-hidden="true">
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			
				<ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                        <div class="img-rounded profile-img"></div>
                        My Profile <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">User Name</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">E-mail</a>
                        </li>
                    </ul>
                </li>
            </ul>

       <ul class="nav navbar-nav pull-right">

				<li><a href="#/trips""> My Trips <span
						class="glyphicon glyphicon-plane" aria-hidden="true"></span>
				</a></li>
				<li ng-if="loginbutton"><a href="#/login"> Login <span
						class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</a></li>
				<li ng-if="logoutbutton"><a href="#/logout"> Logout <span
						class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				</a></li>
			</ul>
		</div>
		
	</div>
</nav>
<div class="container">
	<section>
		<div id="container_demo">
			<!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
			<a class="hiddenanchor" id="toregister"></a> <a class="hiddenanchor" id="tologin"></a>
			<div id="wrapper">
				<div id="register" class="animate form">
					<form name=registrationForm autocomplete="on">
					
						<h1>Your Flight is booked</h1>
						<h1>Thank you for choosing us</h1>
						
						<a href="#/trips""> <h1> View Itinerary </h1></a>
						
						</form>
						</div>
						</div>
						</div>
						</section>
						</div>
						