<div class="row" id="itineraries" ng-init="bflight()">
	<div class="col-md-5 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Booked Itineraries</h2>
				<div ng-if="message" ng-hide="datar">{{ message }}</div>
				<div class="panel panel-info" ng-repeat="bk in datar">
					<div ng-if="bk.length">
						<div class="panel-heading"><h3>Booking: {{$indexOf+1}}</h3></div>
						<div class="panel-heading"><h3>Departure Flights:</h3></div>
						<div ng-repeat="fl in bk">
							<div ng-if="fl.round==0">
								<div class="row">

									<div class="col-md-3">Flight NO: {{ fl.flightno }}</div>
									<div class="col-md-3">Departure City: {{ fl.depcity }}</div>
									<div class="col-md-3">Departure Date: {{ fl.depdate }}</div>
									<div class="col-md-3">Departure Time: {{ fl.deptime }}</div>
								</div>
								<div class="row">
									<div class="col-md-3">Arrival city: {{ fl.arrcity }}</div>
									<div class="col-md-3">Arrival Date: {{ fl.arrdate }}</div>
									<div class="col-md-3">Arrival Time: {{ fl.arrtime }}</div>
								</div>
								<div class="row">
									<div class="col-md-3">Flight Duration: {{ fl.flightdur }}</div>

									<div class="col-md-3">Price : {{ fl.price }}</div>
								</div>
							</div>
							<hr>
						</div>
						<hr>
						<div class="panel-heading"><h3>Return Flights: </h3></div>
						<div ng-repeat="fl in bk">
							<div ng-if="fl.round==1">
								<div class="row">

									<div class="col-md-3">Flight NO: {{ fl.flightno }}</div>

									<div class="col-md-3">Departure City: {{ fl.depcity }}</div>
									<div class="col-md-3">Departure Date: {{ fl.depdate }}</div>
									<div class="col-md-3">Departure Time: {{ fl.deptime }}</div>
								</div>
								<div class="row">
									<div class="col-md-3">Arrival city: {{ fl.arrcity }}</div>
									<div class="col-md-3">Arrival Date: {{ fl.arrdate }}</div>
									<div class="col-md-3">Arrival Time: {{ fl.arrtime }}</div>
								</div>
								<div class="row">
									<div class="col-md-3">Flight Duration: {{ fl.flightdur }}</div>

									<div class="col-md-3">Price : {{ fl.price }}</div>
								</div>
							</div>
							<hr>
						</div>
						<div class="panel-footer">
							<button class="btn btn-info" ng-click="print()">Print</button>
							<button class="btn btn-info">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Held Flights</h2>
				<div ng-if="message" ng-hide="datah">{{ message }}</div>
				<div class="panel panel-info" ng-repeat="bk in datah">
					<div ng-if="bk.length">
						<div class="panel-heading"><h3>Booking {{$indexOf+1}}:</h3></div>
						<div class="page-header"><h3>Departure Flights:</h3></div>
						<div ng-repeat="fl in bk">
							<div ng-if="fl.round==0">
								<div class="row">

									<div class="col-md-4">Flight NO: {{ fl.flightno }}</div>

									<div class="col-md-4">Departure City: {{ fl.depcity }}</div>
									<div class="col-md-4">Departure Date: {{ fl.depdate }}</div>
									<div class="col-md-4">Departure Time: {{ fl.deptime }}</div>
								</div>
								<div class="row">
									<div class="col-md-4">Arrival city: {{ fl.arrcity }}</div>
									<div class="col-md-4">Arrival Date: {{ fl.arrdate }}</div>
									<div class="col-md-4">Arrival Time: {{ fl.arrtime }}</div>
								</div>
								<div class="row">
									<div class="col-md-4">Flight Duration: {{ fl.flightdur }}</div>

									<div class="col-md-4">Price : {{ fl.price }}</div>
								</div>
							</div>
							<hr>
						</div>
						<hr>
						<div class="page-header"><h3>Return Flights: </h3></div>
						<div ng-repeat="fl in bk">
							<div ng-if="fl.round==1">
								<div class="row">

									<div class="col-md-4">Flight NO: {{ fl.flightno }}</div>

									<div class="col-md-4">Departure City: {{ fl.depcity }}</div>
									<div class="col-md-4">Departure Date: {{ fl.depdate }}</div>
									<div class="col-md-4">Departure Time: {{ fl.deptime }}</div>
								</div>
								<div class="row">
									<div class="col-md-4">Arrival city: {{ fl.arrcity }}</div>
									<div class="col-md-4">Arrival Date: {{ fl.arrdate }}</div>
									<div class="col-md-4">Arrival Time: {{ fl.arrtime }}</div>
								</div>
								<div class="row">
									<div class="col-md-4">Flight Duration: {{ fl.flightdur }}</div>
									<div class="col-md-4">Price : {{ fl.price }}</div>
								</div>
							</div>
							<hr>
						</div>
						<div class="panel-footer">
						<button type="button" class="btn btn-info"
			ng-click="completeHeldBooking(bk)">Complete Booking</button>
							<button class="btn btn-info">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>